<div class="recipe-card">
    <div class="recipe-left_cont">
        <h2 class="recipe-name"><%=recipe.name%></h2>
        <%= button_to "Remove", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this food?' }, class: 'action-button danger', remote: true %>
    </div>
    <p><%=recipe.description%></p>
    <p>
      <%= link_to "Show", recipe %>
    </p>
</div>